/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: PT Sans, "Helvetica Neue", sans-serif; }

::ng-deep mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}
mat-form-field {
  font-size: 10px;
}

